<section>
    <h1 class="baloo">Contact</h1>

    <div class="contact_container">
        <div style="width:773px;">
            <h2 class="montserrat">Got a problem to solve?</h2>
            <span class="montserrat">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span><br>
            <p class="montserrat">Need a Frontend developer? <b>Contact me!</b> </p>
            <div><img style="width: 204px; height: 204px; padding-left: 150px; margin-top: 20px;" src="./assets/img/o-mitte.svg" alt=""></div>
        </div>

        <div class="contact_form">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input #name="ngModel" [(ngModel)]="inputData.name" type="text" name="Name" id="Name" placeholder="Your name" required="">
                @if (!name.valid && name.touched && !name.disabled) {
                    <span class="error-message">Your name is required</span>
                }
                <input #email="ngModel" [(ngModel)]="inputData.email" type="text" name="Email" id="Email" placeholder="Your email" required pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$">
                @if (!email.valid && email.touched && !email.disabled) {
                    <span class="error-message">Your email is required</span>
                }
                <textarea #message="ngModel"  [(ngModel)]="inputData.message" name="Message" minlength="10" id="Message" cols="30" rows="10" placeholder="Your message" required=""></textarea>
                    @if( !message.valid && message.touched) {
                        <span class="error-message">Your message is empty</span> 
                    }

                        <div class="flex_column_container">
                            <div>
                              <div class="privacy-policy">
                                <div (click)="togglePrivacyPolicy()">
                                  @if (privacyPolicyChecked == false) {<img class="checkbox"
                                    src="./assets/img/checkbox_empty.svg"
                                    alt=""
                                  />} @else {<img class="checkbox"
                                    src="./assets/img/checkbox_filled.svg"
                                    alt=""
                                  />}
                                </div>
                                <span>
                                    I've read the <a>privacy policy </a> and agree to the processing of my data as
                                    outlined.
                                </span>
                              </div>
                              @if (!privacyPolicyChecked && message.valid && email.valid &&
                              name.valid) {
                              <span class="error-message">Please accept the privacy policy</span>
                              }
                            </div>
                            <div class="button_container">
                              @if (contactForm.valid && privacyPolicyChecked) {
                                <button class="button_enabled"
                                type="submit">Say hello :)</button>
                            } @else {<button class="button_disabled">Say hello : )</button
                              >}
                            </div>
                          </div>
                </form>
              

        
        </div>

    </div>

    <div class="go_up_container">
        <a href="#" class="go_up"></a>
        <img style="width: 73px; height: 73px" src="./assets/img/o-mitte.svg" alt="">
    </div>
</section>

@if (sendWasTouched) {
  <div class="popup_background">
    <div
      class="popup"
    >
      <span>Thank you for your message!</span>
    </div>
  </div>

}

