section{
    // width: 100%;
    // background-color: white;
    max-width: 1440px;
    padding:100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    // position: relative;
    // overflow-x: hidden;

  

    h1{
        color: #FF5959;
        font-size: 96px;
        font-weight: 800;
        line-height: 96px;
        letter-spacing: 0.01em;
        text-align: left;
        position: absolute;
        left:300px;
        top:2500px;

    }

    span{
        width: 680px;
        height: 56px;
        position: absolute;
        top: 2680px;
        left: 300px;
        color: black;
        font-size: 23px;
        line-height: 27.6px;

    }

   
}

.circle_1{
    position: absolute;
    left: 763px;
    top: 2480px;
    width: 110px;
    height: 110px;
}

.circle_2{
    width: 183px;
    height: 183px;
    position: absolute;
    right: 400px;
    top: 2585px;
}

.circle_3 {
    width: 393px;
    height: 393px;
    position: absolute;
    top: 2862px;
    left: -200px;
}

.circle_4 {
    width: 652px;
    height: 652px;
    position: absolute;
    top: 3147px;
    right: 0px;
}

.circle_5 {
    width: 51px;
    height: 51px;
    position: absolute;
    top: 3695px;
    left: 100px;
}

.circle_6 {
    width: 180px;
    height: 180px;
    position: absolute;
    top:4200px;
    left: 620px;
}

