section{
    width: 100%;
    background-color: white;

    h1{
        color: #FF5959;
        font-size: 96px;
        font-weight: 800;
        line-height: 96px;
        letter-spacing: 0.01em;
        text-align: left;
        position: absolute;
        left:92px;
        top:2396px;

    }

    span{
        width: 680px;
        height: 56px;
        position: absolute;
        top: 2580px;
        left: 100px;
        color: black;
        font-size: 24px;
        line-height: 27.6px;

    }

   
}

.circle_first{
    position: absolute;
    left: 563px;
    top: 2335px;
    width: 110px;
    height: 110px;
}

.circle_second{
    width: 183px;
    height: 183px;
    position: absolute;
    left: 1157px;
    top: 2485px;
}

