nav {
  display: flex;
  max-width: 1440px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: 8;

  .logo_img {
    width: 64px;
    height: 64px;
    border: 1px solid #ff5959;
    border-radius: 50px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .burger_menu {
    margin-right: 10px;
    cursor: pointer;
  }
  .languages {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: #ff5959;
    font-size: 24px;
    font-weight: 400;
    margin: 0 16px;
    font-family: "Montserrat", sans-serif;
  }
}

div {
  .language_container {
    display: flex;
    justify-content: end;
  }
}

a {
  text-decoration: none;
  color: #ff5959;
  font-size: 24px;
  font-weight: 400;
  margin: 0 16px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  transition: transform 0.2s ease;
 
  &:hover {
    transform: scale(1.1);
    color: #DE0000;
  }
}

.popup_background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #ffeaea 91.39%);
  font-size: 24px;
  .popup {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background-color: linear-gradient(
      179.99deg,
      #ffffff 12.89%,
      #ffeaea 91.39%
    );
    .link_container_mobile {
      margin-right: 0;
    }
    .link_container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 40px;
      gap: 30px;
      .a {
        font-size: 40px;
        width: auto;
      }
      span {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1180px) {
  nav {
    .burger_menu {
      display: block;
    }

    div {
      display: none;
    }
  }
}
