<nav>
  <a href="#landingPage"
    ><img class="logo_img" src="./assets/img/S.svg" alt=""
  /></a>

  @if (isScreenSmall) {
  <img
    (click)="toggleMenu()"
    src="./assets/img/burger_menu.svg"
    class="burger_menu"
    alt=""
  />
  } @else{
  <div>
    <a href="#aboutMe">{{ "header.about" | translate }}</a>
    <a href="#skillSet">{{ "header.skills" | translate }}</a>
    <a href="#myWork">{{ "header.portfolio" | translate }}</a>
    <div class="language_container">
      <a style="width: auto; cursor: pointer;" (click)="checkEnglish()">EN</a>|
      <a style="width: auto; cursor: pointer;" (click)="checkGerman()">DE</a>
    </div>
  </div>
  }
</nav>

@if (open) {
<div class="popup_background">
  <div class="popup">
    <div class="link_container link_container_mobile">
      <a class=".a" href="#aboutMe" (click)="closeMenu()"
        >{{ "header.about" | translate }}
      </a>
      <a class=".a" href="#skillSet" (click)="closeMenu()">{{
        "header.skills" | translate
      }}</a>
      <a class=".a" href="#myWork" (click)="closeMenu()">{{
        "header.portfolio" | translate
      }}</a>
      <a
        class=".a" style="cursor: pointer;"
        (click)="checkEnglish()"
        (click)="closeMenu()"
        >EN</a
      >
      <a
        class=".a" style="cursor: pointer;"
        (click)="checkGerman()"
        (click)="closeMenu()"
        >DE</a
      >
    </div>
  </div>
</div>
}
