@for (project of projects; track $index) {
    <div
      [ngClass]="{ project_container: true, reversed: project.isReversed }">
      <div class="left_side">
        <img src="{{ project.src }}" alt="" />
      </div>
      <div class="right_side">
        <h2 class="baloo">{{ project.title }}</h2>
        <h3 class="montserrat">{{ project.technologies }}</h3>
        <p>
          {{ project.description }}
        </p>
        <div class="button_container">
          <button>Live test</button>
          <button>GitHub</button>
        </div>
      </div>
    </div>
    }
