div{
    background-color:white;
    height:632px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 571px;
        height: 252px;
        position: absolute;
        top: 1307px;
        right: 150px;
        gap: 0px;
        opacity: 0px;

        p{
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;


        }

        a{
            width: auto;
            height: 58px;
            top: 1472px;
            left: 932px;
            padding: 15px 30px 15px 30px;
            gap: 10px;
            border-radius: 10px;
            border: 2px 0px 0px 0px;
            opacity: 0px;
            border: 2px solid #FF5959;
            box-shadow: 5px 5px 15px 0px #00000026;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;
            color: #FF5959;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover{
               
                animation: gradient-animation 0.05s ease-in-out forwards;
                color: white;
                transform: scale(1.1);
                background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #FF5959 6.25%, #FF5959 51.56%, #DE0000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;


            }

        }

}

// >a {
//     text-decoration: none;
//     border: 2px solid #5988FF;
//     border-radius: 10px;
//     background-color: white;
//     color: #5988FF;
//     padding: 15px 30px;
//     font-size: 23px;
//     box-shadow: 5px 5px 15px 0px #00000026;
//     cursor: pointer;

//     &:hover {
//         color: #FFFFFF;
//         transform: scale(1.1);
//         animation: gradient-animation 0.05s ease-in-out forwards;
//     }

span{
    width: 606px;
    height: 242px;
    position: absolute;
    top: 1307px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-size: 121px;
    font-weight: 800;
    line-height: 121px;
    letter-spacing: 0.01em;
    text-align: left; 
    color: #FF5959;
     
}

}

.circle{
    width: 106px;
    height: 106px;
    position: absolute;
    top: 1160px;
    left: 800px;
    gap: 0px;
    opacity: 0px;
}

.circle_small{
    width: 82px;
    height: 82px;
    position: absolute;
    top: -150px;
    right:250px;
    gap: 0px;
    opacity: 0px;
}
