.aboute-me-container {
  max-width: 1440px;
  width: 90%;
  padding: 200px 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  animation: opacityAnimation linear forwards;
  animation-timeline: scroll();
  animation-range: contain;

  > img {
    width: 82px;
    height: 82px;
    position: absolute;
    right: 20%;
    top: 10px;
    z-index: -1;
  }

  > span {
    font-size: 121px;
    font-weight: 900;
    line-height: 121px;
    color: #ff5959;
    font-family: "Baloo 2";
    width: 50%;
    word-wrap: break-word;
  }

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: justify;

    > p {
      font-size: 23px;
      line-height: 27px;
      width: 500px;
    }

    > a {
      text-decoration: none;
      border: 2px solid #ff5959;
      border-radius: 10px;
      background-color: white;
      color: #ff5959;
      padding: 15px 15px;
      font-size: 23px;
      box-shadow: 5px 5px 15px 0px #00000026;
      cursor: pointer;
      background: {
        image: linear-gradient(45deg,#DE0000 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;
      
      &:hover {
        background-position: 0;
        color: white;
      }
    }
    }
  }

@media (max-width: 1670px) {
  .aboute-me-container {
    padding: 100px 50px;
  }
}

@media (max-width: 1560px) {
  .aboute-me-container {
    padding: 100px 30px;
  }
}

@media (max-width: 1360px) {
  .aboute-me-container {
    span {
      font-size: 80px;
      line-height: 80px;
    }
  }
}

@media (max-width: 1015px) {
  .aboute-me-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 0;
  }
}

@media (max-width: 850px) {
  .aboute-me-container {
    span {
      font-size: 56px;
      line-height: 50px;
      width: 100%;
      margin-top: 16px;
      text-align: center;
    }
    div {
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 550px) {
  .aboute-me-container {
    span {
     
      font-size: 40px;
      text-align: center;
    }

    div {
      p {
        width: 100%;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
