<section>
    <app-header></app-header>
    <img src="./assets/img/file (3).png" alt="">
    <h2 class="montserrat">Hello! Iam Mevlida</h2>
    <h1 class="baloo">FRONTEND DEVELOPER</h1>

    <div>
        <p class="montserrat">SCROLL</p>
        <div class="line"></div>
    </div>

    

    <div class="icons">
       <a class="icons_github" href="#"><img style="width: 40px; height: 40px" src="./assets/img/github.svg" alt=""></a> 
        <a  class="icons_email" href="#"><img style="width: 40px; height: 40px" src="./assets/img/email.svg" alt=""></a>
        <a class="icons_linkedin" href="#"><img style="width: 40px; height: 40px" src="./assets/img/linkedin.svg" alt=""></a>
          
    </div>
</section>
