

section{
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #FFEAEA 91.39%);
    // background-image: url(./../../../assets/img/hero-background.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

        .background-img {
    //         position: absolute;
    // height: 892px;
    // width: 80%;
    // z-index: 0;
    // right: 0px;
    // top: 150px;

    position: absolute;
    top: -240px;
    left: -200px;
    width: 1200px;
    z-index: 0;

        }

    .mevlida-img{
        width: auto;
        height: 917px;
        position: absolute;
      bottom:0;
        left:0;
    }

    h1{
        width: 645px;
        height: 221px;
        position: absolute;
        top: 405px;
        // left: 100px;
        right:200px;
        font-size: 128px;
        font-weight: 800;
        line-height: 110px;
        letter-spacing: -0.025em;
        text-align: left;
        color:#FF5959;
        margin-block-start: 0;
        margin-block-end: 0;
        
    }

    h2{
        width: 700px;
        height: 61px;
        position: absolute;
        top: 327px;
        // left: 100px;
        right: 150px;
        font-size: 64px;
        font-weight: 400;
        text-align: left;
        color: #FF5959;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    P{
        font-size: 23px;
        font-weight: 500;
        line-height: 27.6px;
        text-align: left;    
        color: #FF5959; 
        width: 95px;
        height: 28px;
        position: absolute;
        top: 780px;
        right: 450px;
        gap: 0px;
        opacity: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.icons{
        width: 40px;
        height: 170px;
        // position: absolute;
        // top: 789px;
        // left: 1300px;
        gap: 25px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s ease;
       
}

.icons_github{ 
    position: absolute;
    bottom: 210px;
    right: 150px;

        &:hover {
            transform: translateX(-10px);
        }
}

.icons_email{
    position: absolute;
    bottom: 140px;
    right: 150px;
    &:hover {
        transform: translateX(-10px);
    }
}

.icons_linkedin{
    position: absolute;
    bottom: 70px;
    right: 150px;
    &:hover {
        transform: translateX(-10px);
    }
}



.line{
    width: 0px;
    height: 230px;
    position: absolute;
    bottom: 0;
    right: 500px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid  #FF5959;
}

