<section>
    <app-header></app-header>
    <div class="privacy-policy-container">
        <img class="background-img" src="./assets/img/o-mitte.svg" alt="">
        <div class="overflow-scroll-container">
            <h1>Privacy Policy</h1>
<p>Responsible within the meaning of data protection laws, in particular the EU General Data Protection Regulation (GDPR), is:</p>
<p>Mevlida Salendrkovic</p>
<h2>Your Rights as a Data Subject</h2>
<p>You can exercise the following rights at any time using the contact details of our Data Protection Officer:</p>
<ul>
<li>Information about your data stored with us and its processing (Art. 15 GDPR),</li>
<li>Correction of incorrect personal data (Art. 16 GDPR),</li>
<li>Deletion of your data stored with us (Art. 17 GDPR),</li>
<li>Restriction of data processing, provided we are not yet allowed to delete your data due to legal obligations (Art. 18 GDPR),</li>
<li>Objection to the processing of your data by us (Art. 21 GDPR), and</li>
<li>Data portability, provided you have consented to data processing or have a contract with us (Art. 20 GDPR).</li>
</ul>
<p>If you have given us consent, you can withdraw it at any time with effect for the future.</p>
<p>You can lodge a complaint with a supervisory authority at any time, e.g., the competent supervisory authority of the federal state of your residence or the authority responsible for us as the responsible body.</p>
<p class="longLink">A list of supervisory authorities (for the non-public sector) with addresses can be found at:<br>
<a class="longLink" href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank" rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>
<p></p>
<h2>Collection of General Information When Visiting Our Website</h2>
<h3>Type and Purpose of Processing:</h3>
<p>When you access our website, i.e., if you do not register or otherwise transmit information, general information is automatically collected. This information (server log files) includes, for example, the type of web browser, the operating system used, the domain name of your internet service provider, your IP address, and similar data.</p>
<p>This data is processed in particular for the following purposes:</p>
<ul>
<li>Ensuring a trouble-free connection to the website,</li>
<li>Ensuring smooth use of our website,</li>
<li>Evaluation of system security and stability, and</li>
<li>For optimizing our website.</li>
</ul>
<p>We do not use your data to draw conclusions about your person. Information of this kind is evaluated statistically, if necessary, to optimize our internet presence and the technology behind it.</p>
<h3>Legal Basis and Legitimate Interest:</h3>
<p>The processing is carried out according to Art. 6 para. 1 lit. f GDPR based on our legitimate interest in improving the stability and functionality of our website.</p>
<h3>Recipients:</h3>
<p>The recipients of the data are possibly technical service providers who act as processors for the operation and maintenance of our website.</p>
<p></p>
<h3>Storage Duration:</h3>
<p>The data will be deleted as soon as it is no longer necessary for the purpose for which it was collected. For the data used to provide the website, this is generally the case when the respective session is ended.</p>
<p>If the data is stored in log files, this is the case after 14 days at the latest. Further storage is possible. In this case, the IP addresses of the users are anonymized so that assignment of the calling client is no longer possible.</p>
<p></p>
<h3>Provision Prescribed or Required:</h3>
<p>The provision of the aforementioned personal data is neither legally nor contractually required. However, without the IP address, the service and functionality of our website are not guaranteed. Additionally, individual services and services may not be available or may be limited. For this reason, a contradiction is excluded.</p>
<p></p>
<h2>Contact Form</h2>
<h3>Type and Purpose of Processing:</h3>
<p>The data you enter will be stored for the purpose of individual communication with you. For this, a valid email address and your name are required. This serves the assignment of the request and the subsequent response to the same. The provision of further data is optional.</p>
<h3>Legal Basis:</h3>
<p>The processing of the data entered into the contact form is based on a legitimate interest (Art. 6 para. 1 lit. f GDPR).</p>
<p>By providing the contact form, we aim to make it easy for you to contact us. The information you provide will be stored for the purpose of processing the request and for possible follow-up questions.</p>
<p>If you contact us to request a quote, the processing of the data entered into the contact form is carried out to implement pre-contractual measures (Art. 6 para. 1 lit. b GDPR).</p>
<h3>Recipients:</h3>
<p>The recipients of the data are possibly processors.</p>
<p></p>
<h3>Storage Duration:</h3>
<p>Data will be deleted no later than 6 months after the request has been processed.</p>
<p>If a contractual relationship occurs, we are subject to the statutory retention periods under the German Commercial Code (HGB) and delete your data after these periods have expired.</p>
<h3>Provision Prescribed or Required:</h3>
<p>The provision of your personal data is voluntary. However, we can only process your request if you provide us with your name, email address, and the reason for the request.</p>
<p></p>
<h2>Use of Script Libraries (Google Webfonts)</h2>
<p>To display our content correctly and graphically appealing across browsers, we use "Google Web Fonts" from Google LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; hereinafter "Google") on this website for the display of fonts.</p>
<p>Further information about Google Web Fonts can be found at <a href="https://developers.google.com/fonts/faq" rel="noopener nofollow" target="_blank">https://developers.google.com/fonts/faq</a> and in Google's privacy policy: <a href="https://www.google.com/policies/privacy/" rel="noopener nofollow" target="_blank">https://www.google.com/policies/privacy/</a>.</p>
<p></p>
<h2>SSL Encryption</h2>
<p>To protect the security of your data during transmission, we use state-of-the-art encryption methods (e.g., SSL) over HTTPS.</p>
<p></p>
<hr>
<h2>Information About Your Right to Object According to Art. 21 GDPR</h2>
<h3>Individual Right to Object</h3>
<p>You have the right to object at any time, for reasons arising from your particular situation, to the processing of personal data concerning you which is carried out based on Art. 6 para. 1 lit. f GDPR (data processing based on a balance of interests); this also applies to profiling based on these provisions within the meaning of Art. 4 no. 4 GDPR.</p>
<p>If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for processing that outweigh your interests, rights, and freedoms, or the processing serves the assertion, exercise, or defense of legal claims.</p>
<h3>Recipient of an Objection</h3>
<p>Mevlida Salendrkovic</p>
<hr>
<h2>Changes to Our Privacy Policy</h2>
<p>We reserve the right to adapt this privacy policy to ensure it always complies with the current legal requirements or to implement changes to our services in the privacy policy, for example, when introducing new services. For your next visit, the new privacy policy will apply.</p>
<h2>Questions for the Data Protection Officer</h2>
<p>If you have any questions about data protection, please send us an email or contact the person responsible for data protection directly in our organization:</p>
<p></p><p><em>The privacy policy was created with the assistance of the activeMind AG, the experts in <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">the experts in external data protection officers.</a> (Version #2020-09-30).</em></p>
</div>
</div>
</section>
