<footer>
    <div class="footer_container">
    <div class="footer">
        <img src="./assets/img/logo.svg" alt="">
        <span class="montserrat">
            ⒸMevlida Salendrkovic 2024 
        </span>
        <div class="icons_footer">
            <img src="./assets/img/github_white.svg" alt="">
            <img src="./assets/img/email_white.svg" alt="">
            <img src="./assets/img/linkedin_white.svg" alt="">
        </div>
    </div>
    <div>
        <a class="montserrat" style="font-size: 18px;">Impressum</a>
    </div>
</div>
    
</footer>
